{:paths   ["src"]
 :deps    {org.postgresql/postgresql {:mvn/version "42.3.1"}
           io.vertx/vertx-pg-client  {:mvn/version "4.2.1"}}
 :aliases {:test   {:extra-paths ["test"]
                    :extra-deps  {org.clojure/clojure                      {:mvn/version "1.10.3"}
                                  com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                                  funcool/promesa                          {:mvn/version "6.0.2"}
                                  manifold/manifold                        {:mvn/version "0.2.0"}
                                  com.h2database/h2                        {:mvn/version "1.4.200"}
                                  seancorfield/next.jdbc                   {:mvn/version "1.2.659"}
                                  funcool/clojure.jdbc                     {:mvn/version "0.9.0"}
                                  org.clojure/java.jdbc                    {:mvn/version "0.7.12"}
                                  criterium/criterium                      {:mvn/version "0.4.6"}}}
           :runner {:extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha     "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
                    :main-opts  ["-m" "cognitect.test-runner"
                                 "-d" "test"]}}}
